<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Confirmation</title>
</head>
<body>
    <h1>Booking Confirmation</h1>
    
    <p>Thank you for your booking, {{ booking.user.username }}!</p>
    <h2>Booking Details:</h2>
    <ul>
        <li><strong>Room Number:</strong> {{ booking.room.room_number }}</li>
        <li><strong>Room Type:</strong> {{ booking.room.room_type }}</li>
        <li><strong>Check-in Date:</strong> {{ booking.check_in }}</li>
        <li><strong>Check-out Date:</strong> {{ booking.check_out }}</li>
        <li><strong>Total Price:</strong> ${{ booking.total_price }}</li>
        <li><strong>Total Days:</strong> {{ booking.check_out|date:"Y-m-d"|slice:":-10"|add:"0"|add:"" }}</li>
    </ul>

    <a href="{% url 'home' %}">Back to Home</a>
</body>
</html>
